<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Automation/AutomationTestsInfrastructure/src/test/java/samapleTets">
        <classes>
            <class name="samapleTets.SearchTest">
                <methods>
                    <include name="searchGoogle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>