<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Automation/AutomationTestsInfrastructure/src/test/java/apiTests/booker/BookerTests.java">
        <classes>
            <!--<class name="apiTests.BookerTests">
                <methods>
                    <include name="createBooking"/>
                </methods>
            </class>-->
            <class name="apiTests.BookerTests">
                <methods>
                    <include name="postBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>